.THIS.paragraph {
    text-shadow:1px 2px red;
}

.THIS .paragraph1{
    color:green;
    font-weight:bold;
}

.THIS .paragraph2{
    color:white;
    font-style:Italic;
}

.THIS.buttonclass{
    background-color:green;
    height:35px;
    width:130px;
    margin:20px;
    border-radius:6px;
    border-style: none;
    outline: none;
}

.THIS #p1{
    background-color:blue;
}