.THIS.tile {
    width: 100%;
    height: 120px;
    padding: 1px;
    margin: 5px;
}

.THIS .innertile{
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height : 115px;
    padding: 1px !important;
}

.THIS .lower-third{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    left:0;
    bottom:0;
    right:0;
    padding: 6px 8px;
    color: orange;
}

.THIS .innerButton{
    position: absolute;
    top: 5px;
    right:5px;
    padding:0.5%;
    margin:2px;
    color:orange;
    font-weight:bold;
}

.THIS.selected{
    border: 2px solid blue;
}